---
import { Button, Modal, ModalHeader, ModalBody, ModalFooter } from 'free-astro-components'
---

<Button label="Open Modal" data-modal-trigger="modal-id" />

<Modal id="modal-id">
  <ModalHeader>
    <h4>Modal Title</h4>
  </ModalHeader>
  <ModalBody>
    <p>
      This is the modal body. You can add any content here.
    </p>
  </ModalBody>
  <ModalFooter>
    <Button label="Close" data-modal-close />
  </ModalFooter>
</Modal>